# EmailJS credentials (https://www.emailjs.com/)
# 1. Create an account and add an Email Service (Gmail) linked to your inbox
# 2. Create an Email Template with variables: {{from_name}}, {{from_email}}, {{message}}, {{to_name}}
# 3. Set Template "To Email" to your address (kr7abhishek04@gmail.com)
# 4. Copy Service ID, Template ID, and Public Key below
# 5. Rename this file to .env and restart npm run dev

VITE_APP_EMAILJS_SERVICE_ID=your_service_id
VITE_APP_EMAILJS_TEMPLATE_ID=your_template_id
VITE_APP_EMAILJS_PUBLIC_KEY=your_public_key
